<h4>Editar Producto</h4>

<form method="post" (ngSubmit)="actualizar()" class="col-6" enctype="multipart/form-data">

  <!-- <p [(ngModel)]="productos.id">id {{productos.id}}</p>  -->

  <div class="mb-3" ngForm="form">
    <p name="id" ></p>
    <label class="form-label">Nombre del Producto</label>
    <!-- <input type="text" class="form-control" name="nombre"  [(ngModel)]="productos.nombre"> -->
     <input
  type="text"
  class="form-control"
  name="nombre"
  [(ngModel)]="productos.nombre"
  #nombre="ngModel"
  required
/>

<!-- MENSAJE DE ERROR -->
<div class="text-danger mt-1" *ngIf="nombre.invalid && nombre.touched">
  El nombre es obligatorio
</div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Imagen</label>
    <div >
      <img class="imagen" src="{{productos.imagen}}" alt="">
    </div>
    
    <input class="form-control" type="file" name="imagen" (change)="enviarFoto($event)">

  </div>

  <div class="mb-3">
    <label class="form-label">Descripción</label>
    <!-- <textarea class="form-control" rows="3" name="descripcion" [(ngModel)]="productos.descripcion"></textarea> -->
     <textarea
      class="form-control"
      rows="3"
      name="descripcion"
      [(ngModel)]="productos.descripcion"
      #descripcion="ngModel"
      required
    ></textarea>

    <!-- MENSAJE ERROR -->
    <div class="text-danger mt-1" *ngIf="descripcion.invalid && descripcion.touched">
      La descripción es obligatoria
    </div>

  </div>

  <div class="mb-3">
    <label class="form-label">Precio</label>
    <!-- <input type="number" class="form-control" name="precio" [(ngModel)]="productos.precio"> -->
     <!-- <p>{{productos.precio}}</p> -->
      <input
      type="number"
      class="form-control"
      name="precio"
      [(ngModel)]="productos.precio"
      #precio="ngModel"
      required
      min="0"
    />

    <!-- MENSAJE ERROR -->
    <div class="text-danger mt-1" *ngIf="precio.invalid && precio.touched">
      El precio no puede ser menor a 0
    </div>

  </div>

  <div class="mb-3">
    <label class="form-label">Cantidad</label>
    <!-- <input type="number" class="form-control" name="cantidad" [(ngModel)]="productos.cantidad"> -->
     <input
      type="number"
      class="form-control"
      name="cantidad"
      [(ngModel)]="productos.cantidad"
      #cantidad="ngModel"
      required
      min="0"
    />

    <!-- MENSAJE ERROR -->
    <div class="text-danger mt-1" *ngIf="cantidad.invalid && cantidad.touched">
      La cantidad no puede ser menor a 0
    </div>
  </div>

  
  <div class="mb-3 ">

    <div class="categoria  row mb-3">
      <label class="form-label">Categoría</label>
      
        <!-- <select class="form-control cat" id="catsel" name="categoria_sel"
        [(ngModel)]="productos.categoria.id">
  <option *ngFor="let cat of categorias" [ngValue]="cat.id">
    {{cat.nombre}}
  </option>
</select> -->
      <select class="form-control cat" name="categoria" [(ngModel)]="categoriaSeleccionada">
        <option *ngFor="let cat of categorias" [ngValue]="cat.id">
          {{ cat.nombre }}
        </option>
      </select>


      
      
        <a class="catb" routerLink="/categorias"><button class="btn">+</button></a>

      




    </div>



  </div>




  <button class="btn" type="submit">Guardar Producto</button><button class="btn" routerLink="/lista-productos">Volver </button>

</form>