.container-card-carrito {
  border-bottom: 1px solid var(--color-secundario);
  padding: 15px;
  color: white;
}

.more-btn {
    cursor: pointer;
    color: var(--color-secundario);
}

.more-btn span {
  color: #ffcc00;
  font-weight: bold;
}

.more-btn span:hover {
  text-decoration: underline;
}

/* .btn-quality {
    display: flex;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid var(--color-secundario);
    background-color: black;
    color: white;
    border-radius: 4px;
}

.btn-quality button {
    border: none;
    padding: 0;
    width: 12px;
    font-size: 18px;
    color: black;
} */

.btn-quality {
  display: flex;
  align-items: center;
  height: 38px;
  border: 1px solid #444;
  border-radius: 6px;
  overflow: hidden;
  background-color: #1e1e1e;
}

.btn-quality button {
  height: 100%;
  width: 30px;
  background-color: #121212;
  border: none;
  color: #f0ad00;
  font-size: 18px;
}

.andes-form-control__control input {
  width: 40px;
  height: 100%;
  border: none;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
}

.andes-form-control {
    width: 40px;
    overflow: 0;
    padding-top: 0;
}

/* .andes-form-control__control input{
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    outline: none;
} */
.andes-form-control__control input:active{
    border: none;
}

.carrito-img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 8px;       /* bordes redondeados */
  border: 2px solid var(--color-secundario);   /* borde blanco sólido */
}

@media (max-width: 768px) {
  .btn-quality {
    height: 36px;
  }
}