<app-header></app-header>
<!--  Vista Servicios -->
<div class="album py-5">
  <div class="container">
    <h2 class="mb-4 text-center">Nuestros Servicios</h2>
      <div id="serviciosCarousel" class="carousel slide">
      <div class="carousel-inner">

    <div *ngIf="chunkedServicios.length === 0" class="text-center">
      <div class="spinner-border text-warning"></div>
    </div>

    <div *ngFor="let grupo of chunkedServicios; let i = index; trackBy: trackByIndex" 
         class="carousel-item" 
         [class.active]="i === 0">
         
      <!-- <div class="row justify-content-center"> -->
        <div class="row justify-content-center g-3">
        <!-- <div class="col-md-4" *ngFor="let servicio of grupo"> -->
          <div class="col-12 col-md-4 mb-3" *ngFor="let servicio of grupo">
          <div class="card servicio-card shadow-sm border-0 rounded-3 h-100">
            <img [src]="servicio.imagen" loading="lazy" [alt]="servicio.nombre" class="card-img-top" style="height: 300px; object-fit: cover;">
            <div class="card-body text-center">
              <h5 class="fw-bold">{{ servicio.nombre }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#serviciosCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#serviciosCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

    <div class="text-center mt-4">
  <div class="d-grid d-md-inline-block">
    <button
      class="btn btn-warning btn-lg px-4"
      routerLink="/servicios"
    >
      <i class="bi bi-calendar-check me-2"></i>
      Ver todos los servicios
    </button>
  </div>
</div>

  </div>
</div>


<div class="album py-5 bg-light">
  <div class="container">
<!-- Fila de Marcas Vehículos -->
<div id="marcasVehiculosCarousel" class="carousel slide my-5" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">

    <div *ngFor="let grupo of chunkedMarcasVehiculos; let i = index"
         class="carousel-item"
         [class.active]="i === 0">

      <div class="row text-center">
        <div class="col-3 col-md-1" *ngFor="let marca of grupo">
          <img [src]="marca.imagen" [alt]="marca.nombre"
               class="img-fluid p-2"
               style="max-height: 60px; object-fit: contain;">
        </div>
      </div>

    </div>

  </div>

</div>


<!-- Fila de Marcas Publicidad -->
<div id="marcasPublicidadCarousel" class="carousel slide my-5" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">

    <div *ngFor="let grupo of chunkedMarcasPublicidad; let i = index"
         class="carousel-item"
         [class.active]="i === 0">

      <div class="row text-center">
        <div class="col-3 col-md-1" *ngFor="let marca of grupo">
          <img [src]="marca.imagen" [alt]="marca.nombre"
               class="img-fluid p-2"
               style="max-height: 60px; object-fit: contain;">
        </div>
      </div>

    </div>

  </div>

</div>
</div>
</div>


<div class="album py-5">
  <div class="container">
    <h2 class="mb-4 text-center">Nuestros Productos</h2>
    
  <div id="productosCarousel" class="carousel slide" >
      <div class="carousel-inner">

    <div *ngIf="chunkedServicios.length === 0" class="text-center">
      <div class="spinner-border text-warning"></div>
    </div>

    <div *ngFor="let grupo of chunkedProductos; let i = index; trackBy: trackByIndex"
         class="carousel-item"
         [class.active]="i === 0">

      <div class="row justify-content-center">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3" *ngFor="let producto of grupo">
          <div class="card producto-card shadow-sm border-0 rounded-3 h-100">
            <img [src]="producto.imagen" loading="lazy" [alt]="producto.nombre" class="card-img-top producto-img">
            <div class="card-body text-center">
              <h5 class="fw-bold">{{ producto.nombre }}</h5>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  
  <button class="carousel-control-prev" type="button" data-bs-target="#productosCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productosCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<!-- <br> -->

      <div class="text-center mt-4">
  <div class="d-grid d-md-inline-block">
    <button
      class="btn btn-warning btn-lg px-4"
      routerLink="/productos"
    >
      <i class="bi bi-calendar-check me-2"></i>
      Ver todos los productos
    </button>
  </div>
</div>

  </div>
</div>




<div class="container-fluid py-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

    <div class="col" *ngFor="let promo of promos">
      <div class="card promo-card h-100">
        <img
          [src]="promo.img"
          class="card-img-top promo-img"
          [alt]="promo.alt"
        >
      </div>
    </div>

  </div>
</div>





 
    

  