

<footer class="py-5 border-top">
  <div class="container">
    <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5"> -->
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
  <div class="col mb-3 text-center text-md-start">
    <a
routerLink="/quienes-somos"
class="d-flex justify-content-center justify-content-md-start align-items-center mb-3 link-body-emphasis text-decoration-none"
>
<img
src="assets/otros/logoSdA.png"
width="100"
height="40"
alt="Logo"
/>
</a>
    <p class="text-body-secondary">&copy; {{ currentYear }}</p>
  </div>

  <div class="col mb-3 text-center text-md-start">
    <h5 class="mb-2">Más info</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a routerLink="/quienes-somos" class="nav-link p-0 text-body-secondary">Quienes somos</a>
      </li>
      <li class="nav-item mb-2">
        <a
          routerLink="/preguntas-frecuentes"
          class="nav-link p-0 text-body-secondary"
          >Preguntas frecuentes</a
        >
      </li>
    </ul>
  </div>

  <div class="col mb-3 text-center text-md-start">
    <h5 class="mb-2">Servicios y Productos</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2" *ngFor="let servicio of serviciosRandom">
        <a
        routerLink="/servicios"
        class="nav-link p-0 text-body-secondary"
        >
        {{ servicio.nombre }}
        </a>
      </li>
      <li class="nav-item mb-2" *ngFor="let categoria of categoriasRandom">
        <a
        [routerLink]="['/productos']"
        class="nav-link p-0 text-body-secondary"
        >
        {{ categoria }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col mb-3 text-center text-md-start">
    <h5 class="mb-2">Susursales</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2" *ngFor="let sucursal of sucursalesRandom">
        <a
        [routerLink]="['/sucursales']"
        class="nav-link p-0 text-body-secondary"
        >
        {{ sucursal.nombre }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col mb-3 text-center text-md-start">
    <h5 class="mb-2">Contacto</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="mailto:service@gmail.com" class="nav-link p-0 text-body-secondary">
service@gmail.com
</a>



      </li>
      <li class="nav-item mb-2">
        <a href="tel:+593816900309" class="nav-link p-0 text-body-secondary">
+54 9 381 690-0309
</a>



      </li>
      <li class="nav-item mb-2">
        <a href="https://www.servicedelautomotor.com.ar"
target="_blank"
class="nav-link p-0 text-body-secondary">
servicedelautomotor.com.ar
</a>
      </li>
    </ul>
  </div>
    </div>
  </div>
</footer>
