footer{
    background-color: #060818;
}

footer h5 {
font-size: 1rem;
color: #ffffff;
}


footer a {
font-size: 0.9rem;
color: #b5b5c3;
}

footer a:hover {
color: #ffc107; /* mismo amarillo que usás */
text-decoration: none;
}


@media (max-width: 576px) {
footer h5 {
margin-top: 1rem;
}
}