<main>
<div class="container">
  <h2>Lista de Ventas</h2>



  <table class="table table-bordered table-striped mt-3">
   
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Factura</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th scope="col">Tipo de pago</th>
        <th scope="col">Estado</th>
       
      </tr>
    </thead>
     
   <tbody>
  <ng-container *ngFor="let venta of ventas">

    <!--fila principal -->
    <tr>
      <td>{{ venta.id }}</td>
      <td>{{ venta.numero_factura }}</td>
      <td>{{ venta.cliente_nombre }} {{ venta.cliente_apellido }} </td>
      <td>{{ venta.fecha_pago | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ venta.total | currency }}</td>
      <td>{{ venta.tipo_pago }}</td>
      <td>{{ venta.estado }}</td>
    </tr>

    <!-- fila productos -->
    <tr *ngIf="venta.detalles?.length">
      <td colspan="7" class="bg-light text-start">
        <strong>Productos comprados:</strong>

        <ul class="mb-0 mt-1">
          <li *ngFor="let det of venta.detalles">
            {{ det.producto_nombre }}
            — Cant: {{ det.cantidad }}
            — ${{ det.precio }}
          </li>
        </ul>
      </td>
    </tr>

  </ng-container>
</tbody>

  </table>
</div>



  

</main>
