<main>
<div class="container">
  <h2>Lista de Ventas</h2>
  <!-- <button (click)="abrirModal()" class="btn btn-success">Agregar Venta</button> -->


  <table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Factura</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th scope="col">Tipo de pago</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.id }}</td>
        <td>{{ venta.numero_factura }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.fecha_pago | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ venta.total | currency }}</td>
        <td>{{ venta.tipo_pago }}</td>
        <td>{{ venta.estado }}</td>
        <td>
          <!-- <button class="btn btn-primary" (click)="abrirModal(venta)">Editar</button> -->

         <button class="btn btn-danger" (click)="eliminarVenta(venta)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



  

</main>