<!-- <h2>Nueva contraseña</h2>

<input type="password" [(ngModel)]="password" placeholder="Nueva contraseña">
<button (click)="submit()">Cambiar</button>

<p>{{ message }}</p>
 -->
<h2>Nueva contraseña</h2>

<input
  [type]="showPassword ? 'text' : 'password'"
  [(ngModel)]="password"
  placeholder="Nueva contraseña"
/>

<button type="button" (click)="showPassword = !showPassword">
  {{ showPassword ? 'Ocultar' : 'Mostrar' }} contraseña
</button>

<button (click)="submit()">Cambiar</button>

<p>{{ message }}</p>
