/* :root {
--dark: #1c1c1c;
--metal: #2a2a2a;
--accent: #f0ad00;
} */

/* LOOK MECÁNICA INDUSTRIAL */

main{
  background-color: var(--color-principal);
}
.card {
  background-color: #1c1c1c;
  color: #f1f1f1;
  border-radius: 6px;
}

.card-title {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-muted {
  color: #bdbdbd !important;
}

img {
  filter: grayscale(20%) contrast(110%);
}

/* CTA */

.btn{
  color: var(--color-principal);
  margin-top: 15px;
}
.btn-primary {
  background-color: #f0ad00;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #d99700;
}

/* Separación secciones */
.card + .card {
  margin-top: 2rem;
}

.hero-industrial {
  min-height: 90vh;
  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url('../../../assets/pagina/taller-industrial4.jpg');
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-title span {
  color: #f0ad00;
}

.hero-subtitle {
  font-size: 1.1rem;
  max-width: 600px;
  color: #e0e0e0;
}